<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAY</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

    <h1>DAY</h1>

    <a class="btn" href="/">HOME</a>

    <div class="day-buttons">
        <a class="btn" th:href="@{'/' + ${type} + '?day=1'}">DAY 1</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=2'}">DAY 2</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=3'}">DAY 3</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=4'}">DAY 4</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=5'}">DAY 5</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=6'}">DAY 6</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=7'}">DAY 7</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=8'}">DAY 8</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=9'}">DAY 9</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=10'}">DAY 10</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=11'}">DAY 11</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=12'}">DAY 12</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=13'}">DAY 13</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=14'}">DAY 14</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=15'}">DAY 15</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=16'}">DAY 16</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=17'}">DAY 17</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=18'}">DAY 18</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=19'}">DAY 19</a>
        <a class="btn" th:href="@{'/' + ${type} + '?day=20'}">DAY 20</a>
    </div>

</div>

</body>
</html>