<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

    <h1>TOEIC VOCA</h1>

    <h2>SIGN UP</h2>

    <form action="/signup" method="post">

        <input class="input-box"
               type="text"
               name="username"
               placeholder="아이디">

        <input class="input-box"
               type="password"
               name="password"
               placeholder="비밀번호">

        <p class="error-message"
           th:if="${error}"
           th:text="${error}"></p>

        <button class="btn" type="submit">
            회원가입
        </button>

    </form>

    <a class="link-text" href="/login">
        이미 계정이 있나요? 로그인
    </a>

</div>

</body>
</html>